*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 120px;
    display: flex;
    justify-content: center;

    .container{
        width: 990px;
        display: flex;
        justify-content: space-between;

        .logo, .menu{
            display: flex;
            align-items: center;
        }

        .logo{
            
            img{
                width: 250px;
            }
        }

        .menu{
            nav{

                ul{
                    display: flex;

                    li{
                        list-style-type: none;
                        padding: 15px;

                        a{
                            text-decoration: none;
                            color: #757575;
                            text-transform: uppercase;
                        }
                    }

                    .active,
                    li:hover{
                        background-color: #21819F;
                        cursor: pointer;
                        
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#banner{
    height: 770px;
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}