$primary-color: #2E4242;
$secondary-color: #2A2F2E;
$color1-btn: #137B7B;
$color2-btn: #00A3A3;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

@mixin container {
    width: 990px;
    display: flex;
    justify-content: space-between;
}

header{
    height: 120px;
    display: flex;
    justify-content: center;

    .container{
        @include container();

        .logo, .menu{
            display: flex;
            align-items: center;
        }

        .logo{
            
            img{
                width: 250px;
            }
        }

        .menu{
            nav{

                ul{
                    display: flex;

                    li{
                        list-style-type: none;
                        padding: 15px;
                        border-radius: 3px;

                        a{
                            text-decoration: none;
                            color: #757575;
                            text-transform: uppercase;
                        }
                    }

                    .active,
                    li:hover{
                        background-color: #21819F;
                        cursor: pointer;
                        
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#banner{
    display: flex;
    justify-content: center; /*importante, se nao cola o container na esquerda*/
    height: 670px;
    background-image: url(../img/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        @include container();
    }

    .column{
        flex-direction: column;

        .banner-slogan{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1, h2{
                color: #fff;
                max-width: 350px;
                text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.507);
            }

            h1{
                font-size: 55px;
            }

            h2{
                font-size: 20px;
                margin-top: 15px;
            }
        }

        .banner-options{
            height: 210px;
            background-color: royalblue;
            display: flex;

            .option1, .option2, .option3{
                flex: 1;
                padding: 25px;

                h1{
                    color: #fff;
                    font-size: 21px;
                }

                p{
                    margin: 20px 0;
                    color: #fff;
                    font-size: 15px;
                }

                a{
                    display: inline-block; /*Acompanhar o conteúdo*/
                    color: #fff;
                    border: 1px solid #fff;
                    padding: 5px;
                    text-decoration: none;
                    font-size: 13px;
                    transition: 0.3s;
                }
            }

            .option1{
                background-color: #259e9e;

                a:hover{
                    background-color: #fff;
                    color: #259e9e;
                }
            }

            .option2{
                background-color: #21819F;

                a:hover{
                    background-color: #fff;
                    color: #21819F;
                }
            }

            .option3{
                background-color: #165a6e;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .hours{                    
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                    .day, .hour{
                        margin: 5px 0;

                        p{
                            margin: 10px 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

#content{
    display: flex;
    justify-content: center;
    /*height: 1040px;*/

    .container{
        @include container();

        main, aside{
            .widget{
                /*display: flex;
                flex-direction: column;*/

                .widget-title{
                    margin: 30px 0 20px 0;

                    .widget-title-text{
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .widget-title-box{
                        background-color: #21819F;
                        height: 3px;
                        width: 50px;
                        margin-top: 7px;
                    }
                }
            }
        }

        main{
            flex: 2;

            .widget{

                .widget-content{
                    display: flex;
                    flex-wrap: wrap;

                    article{
                        flex: 1;
                        min-width: 300px;
                        margin-right: 20px;

                        .date-comments{
                            display: flex;
                            margin-top: 20px;

                            .date{
                                background-color: #165a6e;
                                color: #fff;
                                padding: 10px;
                                margin-right: 2px;
                                font-size: 14px;
                            }
    
                            .comments{
                                background-color: #137B7B;
                                color: #fff;
                                padding: 10px;
                                font-size: 14px;
                            }
                        }
    
                        .notice-image{
                            margin: 30px 0;

                            img{
                                width: 100%; /*Preencher o container de noticias em 100%*/
                                height: auto;
                            }
                        }
    
                        .notice-title{
                            margin: 20px 0;

                            .title{
                                font-size: 20px;
                                color: #000;
                            }
                        }
    
                        .notice-resume{
                            margin-bottom: 30px;
                            p{
                                line-height: 20px;
                                color: #504e4e;
                                font-size: 14px;
                            }
                        }
                    }                    
                }
            }
        }

        aside{
            flex: 1;
            display: flex;
            flex-direction: column;
            
            .widget{

                .flex{
                    display: flex;
                    flex-wrap: wrap;

                    .dept{
                        flex: 1;
                        background-color: #21819F;
                        padding: 65px;
                        margin: 20px 0;
                    }

                    .box{
                        margin-right: 25px;
                    }
                }

                .support{
                    p{
                        margin: 20px 0;
                    }
                    .sup{

                        p{
                            margin: 0;
                            padding: 10px 0;
                            border-top: 1px solid #ccc;

                            i{
                                background-color: #ccc;
                                color: #fff;
                                margin-right: 5px;
                                padding: 5px;
                                border-radius: 2px;
                            }

                            a{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;

    .container{
        @include container();
        flex-direction: column;

        .footer-options{
            display: flex;
            flex: 1;

            a{
                display: block; /*Pro link ser um bloco*/
                flex: 1;

                .footer-opt1,
                .footer-opt2,
                .footer-opt3{
                    flex: 1;
                    color: #fff;
                    padding: 20px;

                    h1{
                        color: #fff;
                        font-size: 21px;
                    }
    
                    p{
                        margin-top: 10px;
                        color: #fff;
                        font-size: 15px;
                    }

                    p::after{
                        content: '\2192';
                    }
                }

                .footer-opt1{
                    background-color: #259e9e;
                }

                .footer-opt2{
                    background-color: #21819F;
                }

                .footer-opt3{
                    background-color: #165a6e;
                }
            }
        }

        .footer-infos{
            display: flex;

            .footer-contacts{
                color: #fff;
                flex: 1;

                .widget{

                    .widget-title{
                        margin: 30px 0 20px 0;
    
                        .widget-title-text{
                            font-size: 20px;
                            font-weight: bold;
                        }
    
                        .widget-title-box{
                            background-color: #21819F;
                            height: 3px;
                            width: 50px;
                            margin-top: 7px;
                        }
                    }

                    .widget-content{
                        display: flex;
                        flex-wrap: wrap;
    
                          
                    }

                    
                }
            }
        }

        .footer-copy{
            color: #fff;
            border-top: 1px solid #2c2c2c;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            margin-top: 30px;

            span{
                color: #9e9d9d;
            }
        }
    }
}