@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .logo, header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo img {
  width: 250px;
}

header .container .menu .menu-mobile {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

header .container .menu .menu-mobile .menu-bar {
  border-radius: 4px;
  height: 4px;
  background-color: #21819F;
}

header .container .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .menu nav ul li {
  list-style-type: none;
  padding: 15px;
  border-radius: 3px;
}

header .container .menu nav ul li a {
  text-decoration: none;
  color: #757575;
  text-transform: uppercase;
}

header .container .menu nav ul .active,
header .container .menu nav ul li:hover {
  background-color: #21819F;
  cursor: pointer;
}

header .container .menu nav ul .active a,
header .container .menu nav ul li:hover a {
  color: #fff;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*importante, se nao cola o container na esquerda*/
  height: 670px;
  background-image: url(../img/banner3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#banner .container {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#banner .column .banner-slogan {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .column .banner-slogan h1, #banner .column .banner-slogan h2 {
  color: #fff;
  max-width: 350px;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.507);
}

#banner .column .banner-slogan h1 {
  font-size: 55px;
}

#banner .column .banner-slogan h2 {
  font-size: 20px;
  margin-top: 15px;
}

#banner .column .banner-options {
  height: 210px;
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner .column .banner-options .option1, #banner .column .banner-options .option2, #banner .column .banner-options .option3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
}

#banner .column .banner-options .option1 h1, #banner .column .banner-options .option2 h1, #banner .column .banner-options .option3 h1 {
  color: #fff;
  font-size: 21px;
}

#banner .column .banner-options .option1 p, #banner .column .banner-options .option2 p, #banner .column .banner-options .option3 p {
  margin: 20px 0;
  color: #fff;
  font-size: 15px;
}

#banner .column .banner-options .option1 a, #banner .column .banner-options .option2 a, #banner .column .banner-options .option3 a {
  display: inline-block;
  /*Acompanhar o conteúdo*/
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  text-decoration: none;
  font-size: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#banner .column .banner-options .option1 {
  background-color: #259e9e;
}

#banner .column .banner-options .option1 a:hover {
  background-color: #fff;
  color: #259e9e;
}

#banner .column .banner-options .option2 {
  background-color: #21819F;
}

#banner .column .banner-options .option2 a:hover {
  background-color: #fff;
  color: #21819F;
}

#banner .column .banner-options .option3 {
  background-color: #165a6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner .column .banner-options .option3 .hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#banner .column .banner-options .option3 .hours .day, #banner .column .banner-options .option3 .hours .hour {
  margin: 5px 0;
}

#banner .column .banner-options .option3 .hours .day p, #banner .column .banner-options .option3 .hours .hour p {
  margin: 10px 0;
  font-size: 14px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*height: 1040px;*/
}

#content .container {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content .container main .widget, #content .container aside .widget {
  /*display: flex;
                flex-direction: column;*/
}

#content .container main .widget .widget-title, #content .container aside .widget .widget-title {
  margin: 30px 0 20px 0;
}

#content .container main .widget .widget-title .widget-title-text, #content .container aside .widget .widget-title .widget-title-text {
  font-size: 20px;
  font-weight: bold;
}

#content .container main .widget .widget-title .widget-title-box, #content .container aside .widget .widget-title .widget-title-box {
  background-color: #21819F;
  height: 3px;
  width: 50px;
  margin-top: 7px;
}

#content .container main {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#content .container main .widget .widget-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content .container main .widget .widget-content article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 300px;
  margin-right: 20px;
}

#content .container main .widget .widget-content article .date-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#content .container main .widget .widget-content article .date-comments .date {
  background-color: #165a6e;
  color: #fff;
  padding: 10px;
  margin-right: 2px;
  font-size: 14px;
}

#content .container main .widget .widget-content article .date-comments .comments {
  background-color: #137B7B;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}

#content .container main .widget .widget-content article .notice-image {
  margin: 30px 0;
}

#content .container main .widget .widget-content article .notice-image img {
  width: 100%;
  /*Preencher o container de noticias em 100%*/
  height: auto;
}

#content .container main .widget .widget-content article .notice-title {
  margin: 20px 0;
}

#content .container main .widget .widget-content article .notice-title .title {
  font-size: 20px;
  color: #000;
}

#content .container main .widget .widget-content article .notice-resume {
  margin-bottom: 30px;
}

#content .container main .widget .widget-content article .notice-resume p {
  line-height: 20px;
  color: #504e4e;
  font-size: 14px;
}

#content .container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .container aside .widget .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content .container aside .widget .flex .dept {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #21819F;
  padding: 65px;
  margin: 20px 0;
}

#content .container aside .widget .flex .box {
  margin-right: 25px;
}

#content .container aside .widget .support p {
  margin: 20px 0;
}

#content .container aside .widget .support .sup p {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

#content .container aside .widget .support .sup p i {
  background-color: #ccc;
  color: #fff;
  margin-right: 5px;
  padding: 5px;
  border-radius: 2px;
}

#content .container aside .widget .support .sup p a {
  text-decoration: underline;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1e1e1e;
}

footer .container {
  width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .footer-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .container .footer-options a {
  display: block;
  /*Pro link ser um bloco*/
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .container .footer-options a .footer-opt1,
footer .container .footer-options a .footer-opt2,
footer .container .footer-options a .footer-opt3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  padding: 20px;
}

footer .container .footer-options a .footer-opt1 h1,
footer .container .footer-options a .footer-opt2 h1,
footer .container .footer-options a .footer-opt3 h1 {
  color: #fff;
  font-size: 21px;
}

footer .container .footer-options a .footer-opt1 p,
footer .container .footer-options a .footer-opt2 p,
footer .container .footer-options a .footer-opt3 p {
  margin-top: 10px;
  color: #fff;
  font-size: 15px;
}

footer .container .footer-options a .footer-opt1 p::after,
footer .container .footer-options a .footer-opt2 p::after,
footer .container .footer-options a .footer-opt3 p::after {
  content: '\2192';
}

footer .container .footer-options a .footer-opt1 {
  background-color: #259e9e;
}

footer .container .footer-options a .footer-opt2 {
  background-color: #21819F;
}

footer .container .footer-options a .footer-opt3 {
  background-color: #165a6e;
}

footer .container .footer-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .footer-infos .footer-contacts {
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .container .footer-infos .footer-contacts .widget .widget-title {
  margin: 30px 0 20px 0;
}

footer .container .footer-infos .footer-contacts .widget .widget-title .widget-title-text {
  font-size: 20px;
  font-weight: bold;
}

footer .container .footer-infos .footer-contacts .widget .widget-title .widget-title-box {
  background-color: #21819F;
  height: 3px;
  width: 50px;
  margin-top: 7px;
}

footer .container .footer-infos .footer-contacts .widget .widget-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .resume-clinic, footer .container .footer-infos .footer-contacts .widget .widget-content .address {
  font-size: 13px;
  color: #9e9d9d;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .resume-clinic {
  padding-right: 30px;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 30px 0;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .address .address-infos {
  width: 50%;
  margin: 2px 0;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .address .address-infos span {
  color: #fff;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .address .rowComplete {
  width: 100%;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .social i {
  color: #858484;
  margin-right: 20px;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .social i:hover {
  color: #fff;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts {
  margin-bottom: 20px;
  line-height: 20px;
  padding-right: 20px;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts .post {
  font-size: 14px;
  color: #fff;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts .post::before {
  content: '\2192';
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts .time-posted {
  font-size: 13px;
  color: #2ba2c7;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts .tweet {
  color: #9e9d9d;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts .tweet span {
  color: #fff;
  font-weight: bold;
}

footer .container .footer-infos .footer-contacts .widget .widget-content .posts .tweet span:hover {
  color: #ccc;
}

footer .container .footer-copy {
  color: #fff;
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  margin-top: 30px;
}

footer .container .footer-copy span {
  color: #9e9d9d;
}

@media (max-width: 980px) {
  .banner-slogan {
    padding: 20px;
  }
  .banner-slogan h1 {
    font-size: 2.8646vw;
  }
  .banner-slogan h2 {
    font-size: 1.0417vw;
  }
  #banner .column .banner-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #content main, #content aside {
    padding: 20px;
  }
  .footer-options, .footer-infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-infos {
    padding: 20px;
  }
  .footer-copy {
    padding-left: 20px;
  }
  header {
    height: auto;
  }
  header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo {
    padding-left: 20px;
  }
  header .container .menu nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  header .container .menu .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #content .container aside .widget .flex .dept {
    margin-right: 25px;
  }
}
/*# sourceMappingURL=style.css.map */